@model CreateCompanyViewModel
@inject UserManager<ApplicationUser> userManager;
@{
    Layout = null;
    ViewBag.Title = "Thêm công ty";
    var userId = userManager.GetUserId(User);
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />
</head>
<body>
    <div class="g-userinfo m-row d-flex align-items-center account-settings">
        <img class="img-profile" />
        <div class="account-name">@User.Identity.Name</div>
        <div class="mx-1"> | </div>
        <a class="g-logout" asp-controller="Account" asp-action="Logout">Đăng xuất</a>
    </div>
    <form method="post">
        <div class="card">
            <div class="card-header">Vui lòng nhập tên công ty của bạn</div>
            <div class="card-body">
                <input asp-for="CompanyName" class="form-control" />
                <span asp-validation-for="CompanyName" class="text-danger"></span>
                <input type="hidden" asp-for="UserId" value="@userId" />
            </div>
            <div class="card-footer">
                <input type="submit" value="Save" class="btn btn-primary w-auto" />
                <a asp-controller="Company" asp-action="List" class="btn btn-secondary w-auto">Hủy bỏ</a>
            </div>
        </div>
    </form>

</body>
</html>
